.channelRow {
    display: flex;
    align-items: center;
    width: 80%;
}

.channelRow__text {
    display: flex;
    flex-direction: column;
}

.channelRow__text > p {
    color: #606060;
    font-size: 13px !important;
}

.channelRow__text > h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.channelRow__logo {
    height: 100px !important;
    width: 100px !important;
    margin: 10px 60px;
}

@media screen and (max-width: 780px) {
    .channelRow {
        width: 100%;
    }

    .channelRow__logo {
        margin: 20px 20px;
    }
}