.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

.header__icons {
  cursor: pointer;
}

.header__logo {
  object-fit: contain;
  height: 25px;
  margin-left: 18px;
}

.header__input {
  display: flex;
  align-items: center;
  width: 45%;
  border: 1px solid lightgray;
}

.header__left {
  display: flex;
}


.header__input > input {
  flex: 1;
  border: none;
  height: 26px;
}

.header__inputButton {
  width: 36px !important;
  background-color: #fafafa;
  border-left: 1px solid lightgray;
  color: gray;
}

.header__icons {
  display: flex;
  align-items: center;
}

.header__icon {
  margin-right: 4px;
}
